<h3 ng-include="'app/views/storage/partials/header.html'"></h3>


<div class="row">

    <div class="col-md-9">

        <!-- BOXES LISTED -->
        <div class="row">

            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Christmas Box</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Living Room</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">6</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->

            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Kitchen Pots</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Kitchen</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">6</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->

            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Pool Toys</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Back Yard</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">13</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->

            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Pet's Accessories</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Living Room</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">18</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->



            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Christmas Box</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Living Room</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">6</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->

            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Kitchen Pots</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Kitchen</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">6</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->

            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Pool Toys</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Back Yard</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">13</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->

            <!-- BOX ITEM -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="panel widget list-group">
                    <a href="" class="list-group-item p0">
                        <div class="panel-heading">
                            <i class="pull-left fa fa-cube fa-2x"></i>
                            <span class="panel-title">Pet's Accessories</span>
                        </div>
                        <hr class="m0">
                        <div class="panel-body">
                            <p class="m0 text-sm text-muted">Room: <em class="ml-sm">Living Room</em></p>
                            <p class="m0 text-sm text-muted">Items: <em class="ml-sm">18</em></p>
                            <p class="m0 text-sm text-muted">Status: <em class="ml-sm text-green">Packed</em></p>
                        </div>
                    </a>
                </div>
            </div>
            <!--END Box Item -->



        </div>

    </div>
    <!--END Boxes col-9 -->


    <!-- STORAGE INFO -->
    <div class="col-md-3">
        <!-- START widget-->
        <div class="panel widget bg-white">
            <div class="panel-body">
                <div class="row row-table row-table-header">
                    <h4 class="header">
                        My Storage
                        <a  class="pull-right" href="javascript:;"><i class="icon-settings"></i></a>
                    </h4>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li class="mb-sm"> U-Haul Moving & Storage of Spring Valley</li>
                            <li class="mb-sm"><a href="tel:+17022207777">(702) 220-7777</a> </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="mb-sm">
                                <span class="text-muted">Total Boxes:</span> 25</li>
                            <li class="mb-sm">
                                <span class="text-muted">Total Items:</span> 438</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--END Storage info-->

</div>
<!-- END row -->

