FORMAT: 1A
HOST: http://private-d198dc-invalogapi.apiary-mock.com/

# Invalog Api

Invalog API for front end development.

## Items [/items]

### List All Items [GET]

+ Response 200 (application/json)

        [
            {
                "item_id": 1,
                "name": "Table",
                "published_at": "2015-08-05T08:40:51.620Z",
                "room": "Living Room",
                "category":"furniture",
                "quantity": 1,
                "make": "Ikea",
                "model": "Alex",
                "serial": "0203030555",
                "purchase_date": "2014-08-05",
                "purchase_store": "Ikea",
                "unit_value": "35000",
                "condition": "New",
                "property": 1
            }
        ]

### Create a New Item [POST]

You may create your own item using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "item_id" : 3
            "name": "Night Table",
            "room": "Bed Room",
            "category":"furniture",
            "quantity": 1,
            "make": "Homes",
            "model": "Baby Table",
            "serial": "495009",
            "purchase_date": "2015-09-15",
            "purchase_store": "Walmart",
            "unit_value": "2999",
            "condition": "New"
        }

+ Response 201 (application/json)

    + Headers

            Location: /items/3

    + Body

            {
                "item": "Night Table",
                "published_at": "2015-08-05T08:40:51.620Z",
                "room": "Bed Room",
                "category":"furniture",
                "quantity": 1,
                "make": "Homes",
                "model": "Baby Table",
                "serial": "495009",
                "purchase_date": "2015-09-15",
                "purchase_store": "Walmart",
                "unit_value": "2999",
                "condition": "New"
            }
            



## Rooms [/rooms]

### List All Rooms [GET]

+ Response 200 (application/json)

        [
            {
                "room_id": 30,
                "name": "Living Room",
                "master": 0,
                "property": 1,
                "items": [
                    1,
                    2,
                    3
                ]
            }
        ]
        
        





## Properties [/properties]

### List All Properties [GET]

+ Response 200 (application/json)

        [
            {
                "property_id": 1,
                "nickname": "My art loft",
                "address": "721 Garrison St",
                "city": "Las Vegas",
                "state": "Nevada",
                "country": "United States",
                "property_type": "Loft",
                "rooms": [
                    30,
                    49,
                    94,
                    32,
                    33,
                    35
                ],
                "owners": [
                    21 , 
                    22
                ],
                "avatar": {
                    "32": "http://placehold.it/32x32",
                    "50": "http://placehold.it/50x50",
                    "78": "http://placehold.it/78x78",
                    "115": "http://placehold.it/115x115"
                }
            }
        ]
        
        




## Users [/users]

### List All Users [GET]

+ Response 200 (application/json)

        [
            {
                "id": 21,
                "first_name": "Jane",
                "last_name": "Doe",
                "email": "janedoe@sample.com",
                "city": "Las Vegas",
                "state": "Nevada",
                "country": "United States",
                "property": 34,
                "avatar": {
                    "32": "http://placehold.it/32x32",
                    "50": "http://placehold.it/50x50",
                    "78": "http://placehold.it/78x78",
                    "115": "http://placehold.it/115x115"
                }
            },
            {
                "id": 22,
                "first_name": "John",
                "last_name": "Doe",
                "email": "johndoe@sample.com",
                "city": "Las Vegas",
                "state": "Nevada",
                "country": "United States",
                "property": 34,
                "avatar": {
                    "32": "http://placehold.it/32x32",
                    "50": "http://placehold.it/50x50",
                    "78": "http://placehold.it/78x78",
                    "115": "http://placehold.it/115x115"
                }
            }
        ]