<!-- START widget-->
<div class="panel widget bg-white">
    <div class="panel-body">
        <h4 class="header mv0">
            Recommendations
            <img class="pull-right" src="app/img/recommendation-bulb.png" alt="" width="40">
        </h4>
    </div>
    <hr class="mv0">
    <div class="panel-body">
        <div class="h2 text-center mt0"><a href="" class="text-warning">5</a></div>
        <a href="" class="btn btn-action btn-lg btn-block">See Recommendations</a>
    </div>
    <div class="panel-footer">
        <small>Based on your inventory, we have 5 recommendations for your.</small>
    </div>
</div>