
    <a uib-dropdown-toggle="">
        <em class="icon-wrench"></em>
    </a>


    <!-- START widget-->
    <ul class="dropdown-menu animated fadeInUp maintenance" style="width:300px;">
        <span>Tools</span>

        <div class="row row-table row-flush bg-white">
            <div class="col-xs-6 bb br">
                <a ng-href="#/app/warranty-tracker" class="row row-table row-flush">
                    <div class="col-xs-4 text-center text-info">
                        <em class="icon-badge fa-2x"></em>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body text-center">
                            <p class="mb0 text-muted">Warranties</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 bb">
                <a ng-href="#/app/manuals-tracker" class="row row-table row-flush">
                    <div class="col-xs-4 text-center text-danger">
                        <em class="icon-book-open fa-2x"></em>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body text-center">
                            <p class="mb0 text-muted">Manuals</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>



        <!-- <div class="row row-table row-flush bg-white">
            <div class="col-xs-6 br">
                <a ng-href="#/app/moving" class="row row-table row-flush">
                    <div class="col-xs-4 text-center text-inverse">
                        <em class="fa fa-truck fa-2x"></em>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body text-center">
                            <p class="mb0 text-muted">Moving</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6">
                <a ng-href="#/app/storage" class="row row-table row-flush">
                    <div class="col-xs-4 text-center text-success">
                        <em class="fa fa-cube fa-2x"></em>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body text-center">
                            <p class="mb0 text-muted">Storage</p>
                        </div>
                    </div>
                </a>
            </div>
        </div> -->

    </ul>
    <!-- END widget-->
    <!-- END Dropdown menu-->
