<h3>
    <div class="pull-right mr">
        <a class="btn btn-default"> <i class="fa fa-pencil"></i> Edit</a>
        <a class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</a>
    </div>
    <div class="pull-left mr">
        <a ng-href="#/app/properties" class="btn btn-default"> <i class="fa fa-arrow-left text-muted"></i></a>
    </div>
    <div class="mt-sm ml">
        <i class="icon-home"></i>  My Art Loft
    </div>

</h3>

<div class="row">
    <div class="col-xs-8 text-center">

        <div class="panel widget">
            <div class="panel-body">
                <div class="row row-table">
                    <div class="col-xs-3 text-center">
                        <a href="">
                            <img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/a-house-20-800x481.jpg" alt="Image" class="media-box-object img-rounded thumb128">
                        </a>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div class="pull-right">
                            <span class="label label-info pull-right"><i class="fa fa-check"></i> Default Property</span>
                        </div>
                        <a href=""><h3 class="mt0">My Art Loft</h3></a>
                        <p class="text-muted">721 Garrison St. <br>Las Vegas, Nevada</p>
                        <p class="text-muted">Total Inventory Value: <b class="text-green">$35,000</b></p>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="col-md-4">
        <!-- START widget-->
        <div class="panel widget">
            <div class="panel-body">
                <div class="row row-table row-table-header">
                    <h4 class="header">
                        Rooms <i class="icon-home pull-right"></i>
                    </h4>
                    <hr>
                </div>
            </div>

        </div>
        <!-- END widget-->
    </div>


</div>

