<h3>
    <div class="pull-right mr">
        <a class="btn btn-default"> <i class="fa fa-pencil"></i> Edit</a>
        <a class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</a>
    </div>
    <div class="pull-left mr">
        <a ng-href="#/app/properties" class="btn btn-default"> <i class="fa fa-arrow-left text-muted"></i></a>
    </div>
    <div class="mt-sm ml">
        <i class="icon-home"></i>  My Art Loft
    </div>

</h3>

<div class="row">

    <div class="col-md-8">

        <!-- Tab panes -->
        <uib-tabset justified="true" class="bg-white br-bh">
            <uib-tab>
                <uib-tab-heading>
                    <em class="icon-home fa-fw"></em> &nbsp; Property
                </uib-tab-heading>

                <div class="media-box p-lg row">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <span class="label label-info pull-right"><i class="fa fa-check"></i> Default Property</span>
                        </div>
                        <h3 class="mt0">My Art Loft - <b class="text-green">$450,000</b></h3>

                    </div>

                    <div class="col-xs-4">
                        <ul class="list-unstyled">
                            <li class="text-muted">721 Garrison St.</li>
                            <li class="text-muted">Las Vegas, Nevada</li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="list-unstyled">
                            <li class="text-muted">Bedrooms <b>4</b></li>
                            <li class="text-muted">Bathrooms <b>2.0</b></li>
                            <li class="text-muted">Year Built <b>1998</b></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="list-unstyled">
                            <li class="text-muted">Size <b>2057 sqft</b></li>
                            <li class="text-muted">Lot <b>81ft x 147ft</b></li>
                            <li class="text-muted">DIN# <b>85674934</b></li>
                        </ul>

                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/a-house-20-800x481.jpg" alt="Image" class="img-responsive">
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-xs-12 mt">
                        <h3 class="mt0">About This Property</h3>
                        <p class="text-muted">This two story house in Las Vegas Hills is located on a small cul de sac street with 8 homes on it, which makes it a quiet and nice place. The modern exterior home is a two story loft style home, with a fantastic backyard and spacious rooms. The Las Vegas Hills neighborhood has great schools, lots of outdoor parks and spaces, and restaurants and shopping within a 5 mile radius.</p>
                    </div>
                </div>

            </uib-tab>

            <uib-tab>
                <uib-tab-heading>
                    <em class="icon-wrench fa-fw"></em> Maintenance &amp; Projects
                </uib-tab-heading>

                <div class="media-box p-lg row">
                    Maintenance &amp; Projects
                </div>
            </uib-tab>
        </uib-tabset>
        <!-- END tab pane -->


    </div>
    <!-- END column 8 -->





    <div class="col-md-4">
        <!-- START widget-->
        <div class="panel widget">
            <div class="panel-body">
                <div class="row row-table row-table-header">
                    <h4 class="header">
                        Rooms &amp; Spaces<i class="icon-home pull-right"></i>
                    </h4>
                </div>
            </div>
            <hr class="mv0">
            <div class="panel-body mt0">

                <!-- ROOM -->
                <div class="row row-table row-flush">
                        <div class="col-xs-4">
                            <a>
                                <img src="app/img/room.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-8">
                            <div class="panel-body">
                                <a>
                                    <h4 class="mt0">Living Room</h4>
                                </a>
                            </div>
                        </div>
                </div>
                <!-- ROOM -->
<hr>
                <!-- ROOM -->
                <div class="row row-table row-flush">
                    <div class="col-xs-4">
                        <a>
                            <img src="http://www.eckardsflooring.com/hubfs/images/Blog_Images_from_Web/family-room.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body">
                            <a>
                                <h4 class="mt0">Family Room</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ROOM -->
<hr>
                <!-- ROOM -->
                <div class="row row-table row-flush">
                    <div class="col-xs-4">
                        <a>
                            <img src="http://www.designwalls.com/wp-content/uploads/2016/01/modern-dining-room-table.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body">
                            <a>
                                <h4 class="mt0">Dining Room</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ROOM -->
<hr>
                <!-- ROOM -->
                <div class="row row-table row-flush">
                    <div class="col-xs-4">
                        <a>
                            <img src="http://st.hzcdn.com/simgs/b181aa7b0092eceb_4-6192/modern-kitchen.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body">
                            <a>
                                <h4 class="mt0">Kitchen</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ROOM -->
<hr>
                <!-- ROOM -->
                <div class="row row-table row-flush">
                    <div class="col-xs-4">
                        <a>
                            <img src="http://cdn.home-designing.com/wp-content/uploads/2010/09/modern-bedroom-rug-curtain.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body">
                            <a>
                                <h4 class="mt0">Bed Room (Master)</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ROOM -->
<hr>
                <!-- ROOM -->
                <div class="row row-table row-flush">
                    <div class="col-xs-4">
                        <a>
                            <img src="http://residencestyle.com/wp-content/uploads/2015/01/white-bedroom-furniture-lighting.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body">
                            <a>
                                <h4 class="mt0">Bed Room</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ROOM -->
<hr>
                <!-- ROOM -->
                <div class="row row-table row-flush">
                    <div class="col-xs-4">
                        <a>
                            <img src="http://furnihome.biz/wp-content/uploads/2015/12/kids-bedroom-for-girls-blue-interior-design-ideas-bedroom-blue-walls-interior-design-ideas-bedroom-blue-walls-study-desk-outstanding.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body">
                            <a>
                                <h4 class="mt0">Bed Room (kids)</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ROOM -->
<hr>
                <!-- ROOM -->
                <div class="row row-table row-flush">
                    <div class="col-xs-4">
                        <a>
                            <img src="http://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2009/11/16/1/HDIVD1510_master-bathroom-after_s4x3.jpg.rend.hgtvcom.1280.960.jpeg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <div class="panel-body">
                            <a>
                                <h4 class="mt0">Bath Room</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ROOM -->


            </div>

        </div>
        <!-- END widget-->
    </div>


</div>
<!-- ENd Row -->

