<!-- CUSTOM CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
    body{
        background-image: url("http://invalog.com/themes/invalog/assets/images/bg-header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }
    input, select{ margin: 10px 0; }
</style>



<div class="block-center mt-xl">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">

        <!-- START panel-->
        <div class="panel panel-primary panel-flat">


            <!-- Panel Header-->
            <div class="panel-heading panel-gradient text-center">
                <!--<a href="#/app/overview">-->
                    <!--<img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />-->
                <!--</a>-->
                <h3 class="header text-thin">Let's get started. Tell us about your property. </h3>
            </div>


            <div class="panel-body">
                <form form-wizard="" action="/" method="POST" steps="5">
                    <div class="form-wizard">
                        <!-- START Wizard Step inputs -->
                        <div ng-show="wizard.active(1)" class="text-center">
                            <h1 class="text-primary text-thin">What is your property's address?</h1>

                            <br>


                                <fieldset>
                                    <div class="form-group col-sm-10 col-sm-offset-1 text-left">
                                        <div class="col-sm-6">
                                            <input name="property-address" placeholder="Street Address" class="form-control input-lg" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input name="property-address-2" placeholder="Address Line 2" class="form-control input-lg" />
                                        </div>
                                        <br>

                                        <div class="col-sm-6">
                                            <input name="property-city" placeholder="City" class="form-control input-lg" />
                                        </div>
                                        <div class="col-sm-3">
                                            <select chosen=""  width="'100%'" name="property-state" class="chosen-select form-control input-lg">
                                                <option>State</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <input name="property-address-2" placeholder="zip code" class="form-control input-lg" />
                                        </div>


                                        <div class="col-sm-4">
                                            <br>
                                            <button type="button" class="btn btn-action btn-lg btn-block text-large">
                                                <i class="fa fa-search"></i> Search
                                            </button>
                                        </div>

                                        <!-- Error Message -->
                                        <div class="col-sm-8 hidden">
                                            <div class="text-muted text-left">
                                                <br>
                                                <i class="fa fa-warning"></i><strong> Sorry!</strong> We could not find any properties with that address.
                                            </div>
                                        </div>

                                        <!-- Success Message -->
                                        <div class="col-sm-8 hidden">
                                            <div class="text-success lead text-left">
                                                <br>
                                                <i class="fa fa-check"></i><strong> Success!</strong>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                            <ul class="pager">
                                <!--<div class="pull-right">-->
                                    <!--<a href="#" ng-click="wizard.go(2)" class="btn btn-action btn-lg">-->
                                        <!--Next <i class="fa fa-chevron-right"></i>-->
                                    <!--</a>-->
                                <!--</div>-->
                                <li class="next">
                                    <a href="#" ng-click="wizard.go(2)">
                                        Next <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs -->
                        <!-- START Wizard Step inputs -->
                        <div ng-show="wizard.active(2)" class="text-center">


                            <div class="row">
                                <div class="col-sm-4 col-md-offset-3 text-primary text-thin">
                                    <h3>721 Garrison St.</h3>
                                    <h4>Las Vegas, Nevada</h4>
                                    <!--<b>3 beds - 1.5 baths <br>Single Family - 1,134 sqft</b>-->
                                </div>
                                <div class="col-sm-2">
                                    <br>
                                    <span class="text-primary">Provided by</span>
                                    <img src="app/img/zillow.png" alt="" width="100">
                                </div>
                            </div>
                            <hr>

                            <h1 class="text-primary text-center text-thin">Your property details:</h1>



                            <fieldset>
                                <div class="form-group col-sm-10 col-sm-offset-1 text-left">
                                    <div class="col-sm-4">
                                        <label for="">Total Bedrooms</label>
                                        <input name="property-beds" placeholder="Total Bedrooms" class="form-control input-lg" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="">Total Bathrooms</label>
                                        <input name="property-baths" placeholder="Total Bathrooms" class="form-control input-lg" />
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="">Total Rooms</label>
                                        <input name="property-rooms count" placeholder="Total rooms" class="form-control input-lg" />
                                    </div>

                                    <br>

                                    <div class="col-sm-4">
                                        <label for="">Property Type</label>
                                        <select chosen="SF"  width="'100%'" name="property-type" class="chosen-select form-control input-lg">
                                            <option value="SF">Single Family</option>
                                            <option value="CD">Condominium</option>
                                            <option value="AP">Apartment</option>
                                            <option value="DP">Duplex</option>
                                            <option value="TP">Triplex</option>
                                            <option value="QP">Quadruplex</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="">Lot size</label>
                                        <input name="property-lot" placeholder="Lot Sqft" class="form-control input-lg" />
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="">Floor size</label>
                                        <input name="property-floor" placeholder="Floor Sqft" class="form-control input-lg" />
                                    </div>




                                </div>
                            </fieldset>

                            <ul class="pager">
                                <li class="previous">
                                    <a href="#" ng-click="wizard.go(1)">
                                        <i class="fa fa-chevron-left"></i> Previous
                                    </a>
                                </li>
                                <li class="next">
                                    <a href="#" ng-click="wizard.go(3)">
                                        Next <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs -->
                        <!-- START Wizard Step inputs -->
                        <div ng-show="wizard.active(3)">
                            <h1 class="text-primary text-center text-thin">Give your property a name:</h1>

                            <fieldset>
                                <div class="form-group col-sm-6 col-sm-offset-3">
                                    <!--<label>Give your property a name:</label>-->
                                    <input type="text" name="property-name" placeholder="Name or Nickname" class="form-control input-lg" />
                                </div>
                                <div class="form-group bootstrap-filestyle col-sm-6 col-sm-offset-3">
                                    <label>Upload Image (optional)</label>
                                    <input filestyle="" type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control" />
                                </div>
                            </fieldset>

                            <ul class="pager">
                                <li class="previous">
                                    <a href="#" ng-click="wizard.go(2)">
                                        <i class="fa fa-chevron-left"></i> Previous
                                    </a>
                                </li>
                                <div class="pull-right">
                                    <a href="#/app/overview" class="btn btn-action btn-lg">
                                        <i class="fa fa-save"></i> Save &amp; Finish
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs -->
                        <!-- START Wizard Step inputs -->
                        <div ng-show="wizard.active(4)" class="text-center">
                            <h1 class="text-primary text-thin">What type of dwelling is your home?</h1>
                            <div class="row">
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">House</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Condo</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Apartment</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Loft</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Studio</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Villa</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Beach House</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">RV</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Boat</p>
                                    </div>
                                </div>
                            </div>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="#" ng-click="wizard.go(2)">
                                        <i class="fa fa-chevron-left"></i> Previous
                                    </a>
                                </li>
                                <li class="next">
                                    <a href="#" ng-click="wizard.go(4)">
                                        Next <span><i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs -->
                        <!-- START Wizard Step inputs -->
                        <div ng-show="wizard.active(4)" class="text-center">
                            <h1 class="text-primary text-thin">Which rooms does this property have?</h1>
                            <div class="row">
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Living Room</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Bed Room <small>(Master)</small></p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Bed Room</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Bath Room <small>(Master)</small></p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Bath Room</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Kitchen</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Dining Room</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Garage</p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center mv-sm">
                                    <div class="list-group-item panel widget">
                                        <i class="icon-home fa-2x text-info"></i><br>
                                        <p class="panel-title">Storage / Closet</p>
                                    </div>
                                </div>
                            </div>
                            <ul class="pager">
                                <li class="previous">
                                    <a href="#" ng-click="wizard.go(3)">
                                        <i class="fa fa-chevron-left"></i> Previous
                                    </a>
                                </li>
                                <li class="next">
                                    <a href="#" ng-click="wizard.go(5)">
                                        Next <span><i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs -->

                        <!-- START Wizard Step inputs -->
                        <div ng-show="wizard.active(5)">
                            <!--<legend>3. Purchase Info:</legend>-->
                            <h1 class="text-primary text-center text-thin">Add a picture</h1>

                            <fieldset>
                                <div class="form-group bootstrap-filestyle">
                                    <label>Upload Image</label>
                                    <input filestyle="" type="file" data-classbutton="btn btn-default" data-classinput="form-control inline" class="form-control" />
                                </div>
                            </fieldset>

                            <ul class="pager">
                                <li class="previous">
                                    <a href="#" ng-click="wizard.go(4)">
                                        <i class="fa fa-chevron-left"></i> Previous
                                    </a>
                                </li>
                                <div class="pull-right">
                                    <a href="#/app/overview" class="btn btn-action btn-lg">
                                        <i class="fa fa-save"></i> Save &amp; Finish
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <!-- END Wizard Step inputs -->

                    </div>
                </form>
            </div>
        </div>
        <!-- END panel -->

        <div ng-include="'app/pages/partials/footer.html'"></div>

    </div>




</div>