<h3 ng-include="'app/views/maintenance/partials/header.html'"></h3>

<div class="container-fluid">


   <!-- Sorting example-->
   <div class="panel panel-default">
      <div class="panel-heading">
         <button ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button>
         <div class="panel-title">Total Tasklists (156)</div>
      </div>
      <table class="table table-bordered table-striped">
         <tbody>

         <!-- TASK ITEM -->
         <tr>
            <td data-title="'Type'" sortable="'type'">
               <span class="fa-stack">
                  <em class="fa fa-circle fa-stack-2x text-primary"></em>
                  <em class="fa fa-list fa-stack-1x fa-inverse text-white"></em>
               </span>
               <strong class="media-box-heading text-uppercase"><span class="text-primary m0">Maintenance</span></strong>

            </td>

            <td>
               <p class="mb-sm">
                  <small>Clean gutters and downspouts</small>
               </p>
            </td>

            <td data-title="'Type'" sortable="'type'">
               <span>Cleaning</span>
            </td>
            <td data-title="'Frequency'" sortable="'frequency'">
               <span>Yearly</span>
            </td>
            <td data-title="'Space'" sortable="'space'">
               <span>Outdoor</span>
            </td>
            <td data-title="'Time'" sortable="'time'" class="-align-center">
               <span class="label label-primary pull-right">Spring</span>
            </td>
            <td data-title="'Action'" sortable="'action'">
               <a class="pull-right btn btn-info btn-xs">Add to Checklist</a>
               <a class="pull-right btn btn-default btn-xs mr-sm">More info..</a>
            </td>

         </tr>
         <!-- END task item -->
         <!-- TASK ITEM -->
         <tr>
            <td data-title="'Type'" sortable="'type'">
               <span class="fa-stack">
                  <em class="fa fa-circle fa-stack-2x text-primary"></em>
                  <em class="fa fa-list fa-stack-1x fa-inverse text-white"></em>
               </span>
               <strong class="media-box-heading text-uppercase"><span class="text-primary m0">Maintenance</span></strong>

            </td>

            <td>
               <p class="mb-sm">
                  <small>Inspect roof and chimney for cracks and damage.</small>
               </p>
            </td>

            <td data-title="'Type'" sortable="'type'">
               <span>Inspection</span>
            </td>
            <td data-title="'Frequency'" sortable="'frequency'">
               <span>Yearly</span>
            </td>
            <td data-title="'Space'" sortable="'space'">
               <span>Roof</span>
            </td>
            <td data-title="'Time'" sortable="'time'" class="-align-center">
               <span class="label label-primary pull-right">spring</span>
            </td>
            <td data-title="'Action'" sortable="'action'">
               <a class="pull-right btn btn-info btn-xs">Add to Checklist</a>
               <a class="pull-right btn btn-default btn-xs mr-sm">More info..</a>
            </td>

         </tr>
         <!-- END task item -->


         <!-- TASK ITEM -->
         <tr>
            <td data-title="'Type'" sortable="'type'">
               <span class="fa-stack">
                  <em class="fa fa-circle fa-stack-2x text-primary"></em>
                  <em class="fa fa-list fa-stack-1x fa-inverse text-white"></em>
               </span>
               <strong class="media-box-heading text-uppercase"><span class="text-primary m0">Maintenance</span></strong>

            </td>

            <td>
               <p class="mb-sm">
                  <small>Wash all windows, inside and out.</small>
               </p>
            </td>

            <td data-title="'Type'" sortable="'type'">
               <span>Cleaning</span>
            </td>
            <td data-title="'Frequency'" sortable="'frequency'">
               <span>Yearly</span>
            </td>
            <td data-title="'Space'" sortable="'space'">
               <span>Outdoor</span>
            </td>
            <td data-title="'Time'" sortable="'time'" class="-align-center">
               <span class="label label-primary pull-right">spring</span>
            </td>
            <td data-title="'Action'" sortable="'action'">
               <a class="pull-right btn btn-info btn-xs">Add to Checklist</a>
               <a class="pull-right btn btn-default btn-xs mr-sm">More info..</a>
            </td>

         </tr>
         <!-- END task item -->


         <!-- TASK ITEM -->
         <tr>
            <td data-title="'Type'" sortable="'type'">
               <span class="fa-stack">
                  <em class="fa fa-circle fa-stack-2x text-green"></em>
                  <em class="fa fa-list fa-stack-1x fa-inverse text-white"></em>
               </span>
               <strong class="media-box-heading text-uppercase"><span class="text-green m0">Maintenance</span></strong>

            </td>

            <td>
               <p class="mb-sm">
                  <small>Change or clean heating, ventilating and air conditioning filters.</small>
               </p>
            </td>

            <td data-title="'Type'" sortable="'type'">
               <span>Cleaning</span>
            </td>
            <td data-title="'Frequency'" sortable="'frequency'">
               <span>Yearly</span>
            </td>
            <td data-title="'Space'" sortable="'space'">
               <span>Indoor</span>
            </td>
            <td data-title="'Time'" sortable="'time'" class="-align-center">
               <span class="label label-green pull-right">summer</span>
            </td>
            <td data-title="'Action'" sortable="'action'">
               <a class="pull-right btn btn-info btn-xs">Add to Checklist</a>
               <a class="pull-right btn btn-default btn-xs mr-sm">More info..</a>
            </td>

         </tr>
         <!-- END task item -->


         <!-- TASK ITEM -->
         <tr>
            <td data-title="'Type'" sortable="'type'">
               <span class="fa-stack">
                  <em class="fa fa-circle fa-stack-2x text-warning"></em>
                  <em class="fa fa-list fa-stack-1x fa-inverse text-white"></em>
               </span>
               <strong class="media-box-heading text-uppercase"><span class="text-warning m0">Maintenance</span></strong>

            </td>

            <td>
               <p class="mb-sm">
                  <small>Rake leaves and shred to use as mulch or dispose of them</small>
               </p>
            </td>

            <td data-title="'Type'" sortable="'type'">
               <span>Cleaning</span>
            </td>
            <td data-title="'Frequency'" sortable="'frequency'">
               <span>Yearly</span>
            </td>
            <td data-title="'Space'" sortable="'space'">
               <span>Outdoor</span>
            </td>
            <td data-title="'Time'" sortable="'time'" class="-align-center">
               <span class="label label-warning pull-right">fall</span>
            </td>
            <td data-title="'Action'" sortable="'action'">
               <a class="pull-right btn btn-info btn-xs">Add to Checklist</a>
               <a class="pull-right btn btn-default btn-xs mr-sm">More info..</a>
            </td>

         </tr>
         <!-- END task item -->


         </tbody>
      </table>


   </div>

</div>