<h3 ng-include="'app/views/maintenance/partials/topbar.html'"></h3>

<div class="row">
   <div class="col-lg-3">
      <div class="panel">
         <div class="panel-heading">
            <h5 class="text-info mb0"><a>Replace central air conditioning filters</a></h5>
         </div>


         <div class="panel-body">

            <a href="">
               <img src="https://d1afoc0smheahm.cloudfront.net/images/library_checklists/thumb_w180_replace%20central%20air%20conditioning%20filters.jpg" class="img-responsive">
            </a>

            <p class="clearfix">
               <span class="pull-left small-text">
                  <small class="mr-sm">Type: <b class="text-info">Maintenance</b></small>
               </span>
               <span class="pull-left">
                  <small class="mr-sm">Frequency: <b class="text-info">Quarterly (February)</b></small>
               </span>
            </p>
         </div>
         <div class="panel-footer clearfix">
            <a class="pull-left btn btn-default btn-xs">More info..</a>
            <a class="pull-right btn btn-info btn-xs"> <i class="fa fa-plus"></i> Add to Checklist</a>
         </div>
      </div>
   </div>
   <div class="col-lg-3">
      <div class="panel">
         <div class="panel-heading">
            <h5 class="text-info mb0"><a>Replace central air conditioning filters</a></h5>
         </div>


         <div class="panel-body">

            <a href="">
               <img src="https://d1afoc0smheahm.cloudfront.net/images/library_checklists/thumb_w180_replace%20central%20air%20conditioning%20filters.jpg" class="img-responsive">
            </a>

            <p class="clearfix">
               <span class="pull-left small-text">
                  <small class="mr-sm">Type: <b class="text-info">Maintenance</b></small>
               </span>
               <span class="pull-left">
                  <small class="mr-sm">Frequency: <b class="text-info">Quarterly (February)</b></small>
               </span>
            </p>
         </div>
         <div class="panel-footer clearfix">
            <a class="pull-left btn btn-default btn-xs">More info..</a>
            <a class="pull-right btn btn-info btn-xs"> <i class="fa fa-plus"></i> Add to Checklist</a>
         </div>
      </div>
   </div>
   <div class="col-lg-3">
      <div class="panel">
         <div class="panel-heading">
            <h5 class="text-info mb0"><a>Replace central air conditioning filters</a></h5>
         </div>


         <div class="panel-body">

            <a href="">
               <img src="https://d1afoc0smheahm.cloudfront.net/images/library_checklists/thumb_w180_replace%20central%20air%20conditioning%20filters.jpg" class="img-responsive">
            </a>

            <p class="clearfix">
               <span class="pull-left small-text">
                  <small class="mr-sm">Type: <b class="text-info">Maintenance</b></small>
               </span>
               <span class="pull-left">
                  <small class="mr-sm">Frequency: <b class="text-info">Quarterly (February)</b></small>
               </span>
            </p>
         </div>
         <div class="panel-footer clearfix">
            <a class="pull-left btn btn-default btn-xs">More info..</a>
            <a class="pull-right btn btn-info btn-xs"> <i class="fa fa-plus"></i> Add to Checklist</a>
         </div>
      </div>
   </div>
   <div class="col-lg-3">
      <div class="panel">
         <div class="panel-heading">
            <h5 class="text-info mb0"><a>Replace central air conditioning filters</a></h5>
         </div>


         <div class="panel-body">

            <a href="">
               <img src="https://d1afoc0smheahm.cloudfront.net/images/library_checklists/thumb_w180_replace%20central%20air%20conditioning%20filters.jpg" class="img-responsive">
            </a>

            <p class="clearfix">
               <span class="pull-left small-text">
                  <small class="mr-sm">Type: <b class="text-info">Maintenance</b></small>
               </span>
               <span class="pull-left">
                  <small class="mr-sm">Frequency: <b class="text-info">Quarterly (February)</b></small>
               </span>
            </p>
         </div>
         <div class="panel-footer clearfix">
            <a class="pull-left btn btn-default btn-xs">More info..</a>
            <a class="pull-right btn btn-info btn-xs"> <i class="fa fa-plus"></i> Add to Checklist</a>
         </div>
      </div>
   </div>
</div>
