.navbar .topnavbar{
  background-color:  @preloader-bg;
  background-image: -webkit-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* FF3.6+ */
  background-image:     -ms-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* IE10 */
  background-image:      -o-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* Opera 11.10+ */
  background-image:         linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* W3C */
}
.dropdown-menu.maintenance{
  min-width: 300px;
  padding: 0;
  margin: 0;
  border-radius: 5px !important;
  border: none;
  background-color: #5ac7f8 !important;
  color: white;
  text-align: center;
  .list-group {
    margin-bottom: 0;
    text-align: left;
    .media-box-body{
      max-width: 160px;
    }
  }
}

