.navbar .topnavbar{
  background-color:  @preloader-bg;
  background-image: -webkit-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* FF3.6+ */
  background-image:     -ms-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* IE10 */
  background-image:      -o-linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* Opera 11.10+ */
  background-image:         linear-gradient(135deg, darken(@preloader-bg2, 10%) 10%, @preloader-bg 90%); /* W3C */
}