<h3>
    <i class="icon-grid"></i> Add New Inventory Item
</h3>

<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">New Item information</div>
    <div class="panel-body">
        <form action="">
            <fieldset>
                <!--<legend>Classic inputs</legend>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="input-id-1" class="col-sm-2 control-label">Room</label>
                    <div class="col-sm-10">
                        <select name="room" class="form-control">
                            <option>Living room</option>
                            <option>Bedroom (master) </option>
                            <option>Bedroom 2</option>
                            <option>Bedroom 3</option>
                            <option>Bathroom</option>
                            <option>Kitchen</option>
                            <option>Dining Room</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <input type="text" name="category" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Make / Brand</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="placeholder" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Model</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="placeholder" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="placeholder" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Condition</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="placeholder" class="form-control" />
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>