<!-- TITLE -->
<i class="fa fa-truck fa-flip-horizontal"></i>  Storage and Moving

<!-- ACTION BUTTONS -->
<div class="pull-right">

    <a href="" search-open="search-open" class="btn btn-default">
        <em class="icon-magnifier"></em>
    </a>

    <!--<a ng-href="" class="btn btn-default"><i class="icon-list"></i></a>-->
    <!--<a ng-href="" class="btn btn-default"><i class="icon-grid"></i></a>-->

    <div uib-dropdown="" is-open="when.listIsOpen" class="btn-group">
        <button type="button" uib-dropdown-toggle="" class="btn btn-default">Filter
            <span class="caret"></span>
        </button>
        <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li>
                <a ng-click="">Room</a>
            </li>
            <li>
                <a ng-click="">Spring</a>
            </li>
            <li>
                <a ng-click="">Summer</a>
            </li>
            <li>
                <a ng-click="">Fall</a>
            </li>
            <li>
                <a ng-click="">Winter</a>
            </li>
        </ul>
    </div>

    <button type="button" uib-dropdown-toggle="" class="btn btn-default">
        <i class="icon-printer"></i> Print Labels
    </button>

    <button type="button" uib-dropdown-toggle="" class="btn btn-action">
        <i class="fa fa-plus"></i> Add Box
    </button>
</div>
