<h3>
    <div class="pull-right mr">
        <a class="btn btn-default"> <i class="fa fa-exchange"></i> Move</a>
        <a class="btn btn-default"> <i class="fa fa-pencil"></i> Edit</a>
        <a class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</a>
    </div>
    Table - <span class="text-success">$350</span>
</h3>
<div class="row">
    <div class="col-xs-12 text-center">

        <!-- START Multiple List group-->
        <div class="list-group">

            <div class="list-group-item">
                <table class="wd-wide">
                    <tbody>
                    <tr>
                        <td class="wd-xs">
                            <div class="ph">
                                <img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/item1.png" alt="" class="media-box-object img-responsive img-rounded thumb80" />
                            </div>
                        </td>
                        <td class="wd-md hidden-xs hidden-sm">
                            <div class="ph text-left">
                                <p class="m0 pb-sm">Location: <em class="ml-sm">Living Room</em></p>
                                <p class="m0 pb-sm">Category: <em class="ml-sm">Furniture</em></p>
                                <p class="m0 pb-sm">Quantity: <em class="ml-sm">1</em></p>
                            </div>
                        </td>
                        <td class="wd-md hidden-xs hidden-sm">
                            <div class="ph text-left">
                                <p class="m0 pb-sm">Purchase Date: <em class="ml-sm">Dec 10, 2015</em></p>
                                <p class="m0 pb-sm">Purchase Store: <em class="ml-sm">Ikea</em></p>
                                <p class="m0 pb-sm">Unit Value: <em class="ml-sm">$350</em></p>
                            </div>
                        </td>
                        <td class="wd-md hidden-xs hidden-sm">
                            <div class="ph text-left">
                                <p class="m0 pb-sm">Brand / Make: <em class="ml-sm">Ikea</em></p>
                                <p class="m0 pb-sm">Model: <em class="ml-sm">n/a</em></p>
                                <p class="m0 pb-sm">Serial #: <em class="ml-sm">n/a</em></p>
                            </div>
                        </td>
                        <td class="wd-xs">
                            <div class="ph">
                                <p class="m0">Condition</p>
                                <span class="text-warning">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                </span>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- END item -->

        </div>
        <!-- END list Group -->
    </div>

</div>




<!-- TABS item -->
<div class="row">



    <div class="col-lg-12">
        <!-- START panel tab-->
        <div class="panel panel-transparent">
            <uib-tabset justified="true" class="bg-white p0">
                <uib-tab>
                    <uib-tab-heading>
                        <em class="icon-picture fa-fw"></em> &nbsp; Photos</uib-tab-heading>
                    <div>
                        <!-- START tab content -->
                        <div class="media-box p-lg">
                            <ul class="list-inline">
                                <li><img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/item1.png" alt="" class="media-box-object img-responsive img-rounded thumb128" />
                                </li>
                                <li><img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/item1.png" alt="" class="media-box-object img-responsive img-rounded thumb128" />
                                </li>
                                <li><img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/item1.png" alt="" class="media-box-object img-responsive img-rounded thumb128" />
                                </li>
                                <li><img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/item1.png" alt="" class="media-box-object img-responsive img-rounded thumb128" />
                                </li>
                            </ul>
                        </div>

                        <!-- DRAG & DROP -->
                        <div class="p-lg">
                            <div nv-file-over="" uploader="form.uploader" over-class="bg-info" class="box-placeholder my-drop-zone">
                                Drag &amp; drop images here or &nbsp;
                                <buttton class="btn btn-default">Select files to upload</buttton>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab>
                    <uib-tab-heading>
                        <em class="icon-tag fa-fw"></em> &nbsp;Purchase Documents
                    </uib-tab-heading>
                    <div>
                        <!-- START tab3 -->
                        <div class="row row-table">

                            <table class="wd-wide">
                                <tbody>
                                <tr>
                                    <td class="wd-md p">
                                        <div class="panel border-secondary widget text-center pv-lg">
                                            <em class="icon-doc fa-3x"></em>
                                            <div class="text-uppercase">Receipt</div>
                                        </div>
                                    </td>
                                    <td class="wd-md p">
                                        <div class="panel border-secondary widget text-center pv-lg">
                                            <em class="icon-doc fa-3x"></em>
                                            <div class="text-uppercase">Installation Instructions</div>
                                        </div>
                                    </td>
                                    <td class="wd-md p">
                                        <div class="panel border-secondary widget text-center pv-lg">
                                            <em class="icon-book-open fa-3x"></em>
                                            <div class="text-uppercase">Manual</div>
                                        </div>
                                    </td>
                                    <td class="wd-md p">
                                        <div class="panel border-secondary widget text-center pv-lg">
                                            <em class="icon-badge fa-3x"></em>
                                            <div class="text-uppercase">Warranty</div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        <div class="panel-footer text-right"><a href="#" class="btn btn-default btn-sm">View All Documents</a>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <!-- END panel tab-->


    </div>



</div>