<h3>
   <div ng-include="'app/views/partials/dashboard-actions.html'" ></div>

   <i class="icon-home"></i>  Overview
</h3>

<div class="row">

   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="panel-body">
            <div class="row row-table row-table-header">
               <h4 class="header">
                  My Art Loft
                  <a href="javascript:;"><i class="icon-settings"></i></a>
               </h4>
               <hr>
            </div>

            <div class="row row-table">
               <div class="col-xs-4 text-center pull-left">
                  <img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/a-house-20-800x481.jpg" alt="Image" class="img-circle thumb80" />
               </div>
               <div class="col-xs-8 pull-left">
                  <!--<h3 class="mt0">My Art Loft</h3>-->
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <span class="text-muted">Property type:</span> Loft</li>
                     <li class="mb-sm">
                        <span class="text-muted">Location:</span> Las Vegas</li>
                     <li class="mb-sm">
                        <span class="text-muted">Home equity:</span> $229,459</li>
                  </ul>
               </div>
            </div>
         </div>

      </div>
      <!-- END widget-->
   </div>




   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="panel-body">
            <div class="row row-table row-table-header">
               <h4 class="header">
                  Summary <i class="icon-graph pull-right"></i>
               </h4>
               <hr>
            </div>
            <div class="row row-table">
               <div class="col-xs-6 pull-left pl0">
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <span class="text-muted">Total Rooms:</span> 16</li>
                     <li class="mb-sm">
                        <span class="text-muted">Maintenance:</span> 4</li>
                     <li class="mb-sm">
                        <span class="text-muted">Manuals:</span> 6</li>
                  </ul>
               </div>
               <div class="col-xs-6 pull-left">
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <span class="text-muted">Warranties:</span> 2</li>
                     <li class="mb-sm">
                        <span class="text-muted">Total Inventory:</span> 135</li>
                  </ul>
               </div>
            </div>
         </div>

      </div>
      <!-- END widget-->
   </div>




   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget bg-white">
         <div class="panel-body">
            <div class="row row-table row-table-header">
               <h4 class="header">
                  Inventory Value <i class="icon-home pull-right"></i>
               </h4>
               <hr>
            </div>


            <div class="row row-table">
               <div class="col-xs-12 pv-lg">
                  <div class="h2 mt text-center"><a ng-href="#/app/inventory" class="text-success">$27,485</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>


</div>
<!-- END row -->





<div class="row">

   <div class="col-lg-8">
      <div class="panel panel-default">
         <div class="panel-heading">
            <!--<a href="#" class="btn btn-default btn-sm pull-right">See All Recommendations </a>-->
            <div class="panel-title">Notices and Recommendations</div>
         </div>
         <!-- START list group-->
         <scrollable height="230" class="list-group">
            <!-- START list group item-->
            <a href="javascript:;" class="list-group-item">
               <div class="media-box">
                  <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-purple"></em>
                        <em class="fa fa-list fa-stack-1x fa-inverse text-white"></em>
                     </span>
                  </div>
                  <div class="media-box-body clearfix">
                     <span class="label label-purple pull-right">just now</span>
                     <strong class="media-box-heading text-uppercase"><span class="text-purple m0">Inventory</span></strong>
                     <p class="mb-sm">
                        <small>Living room has no photo...</small>
                     </p>
                  </div>
               </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
               <div class="media-box">
                  <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-info"></em>
                        <em class="fa fa-home fa-stack-1x fa-inverse text-white"></em>
                     </span>
                  </div>
                  <div class="media-box-body clearfix">
                     <span class="label label-purple pull-right">just now</span>
                     <strong class="media-box-heading text-uppercase"><span class="text-info m0">Maintenance</span></strong>
                     <p class="mb-sm">
                        <small>Turn off automatic sprinklers...</small>
                     </p>
                  </div>
               </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
               <div class="media-box">
                  <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-warning"></em>
                        <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                  </div>
                  <div class="media-box-body clearfix">
                     <span class="label label-purple pull-right">just now</span>
                     <strong class="media-box-heading text-uppercase"><span class="text-warning m0">NEW FILE</span></strong>
                     <p class="mb-sm">
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
                     </p>
                  </div>
               </div>
            </a>
            <!-- END list group item-->
            <!-- START list group item-->
            <a href="#" class="list-group-item">
               <div class="media-box">
                  <div class="pull-left">
                     <span class="fa-stack">
                        <em class="fa fa-circle fa-stack-2x text-success"></em>
                        <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                     </span>
                  </div>
                  <div class="media-box-body clearfix">
                     <span class="label label-purple pull-right">just now</span>
                     <strong class="media-box-heading"><span class="text-success m0">NEW MAINTENANCE TASK</span></strong>
                     <p class="mb-sm">
                        <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
                     </p>
                  </div>
               </div>
            </a>
            <!-- END list group item-->
         </scrollable>
         <!-- END list group-->

         <!-- START panel footer-->
         <div class="panel-footer clearfix">
            <!--<a href="#" class="pull-left">-->
               <!--<small>Load more</small>-->
            <!--</a>-->
            <a ng-href="#/app/recommendations" class="btn btn-default btn-sm pull-right">See All Recommendations </a>
         </div>
         <!-- END panel-footer-->

      </div>
   </div>
   <!-- END recommendations -->


   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row row-table row-table-header">
               <h4 class="header">
                  Latest Article
               </h4>
               <hr>
            </div>

            <div class="row row-table">

               <a href="javascript:;">
                  <img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/uxpmod_2226018_33285484187_house-prices-up.jpg?1450644260567" alt="">
                  <h4>Most Americans have More Value in Their Homes And They Don’t Even Know It</h4>
               </a>
               <p class="text-muted">More than half of Americans don’t have a home inventory of their possessions, putting them at risk for inadequate home insurance coverage, should fire, theft or natural disaster of severe weather strike.</p>


            </div>
         </div>

         <!-- START panel footer-->
         <div class="panel-footer clearfix">
            <a href="#" class="pull-left">
            <small>Read more</small>
            </a>
            <a ng-href="#/app/articles" class="btn btn-default btn-sm pull-right">See All Articles </a>
         </div>
         <!-- END panel-footer-->

      </div>
      <!-- END widget-->
   </div>

</div>
<!-- END row-->