<h3>
   <div ng-include="'app/views/partials/properties-actions.html'" ></div>
   <i class="icon-home"></i>  Properties
</h3>

<div class="row">

   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="panel-body">
            <div class="row row-table row-table-header">
               <h4 class="header">
                  My Art Loft
                  <a href="javascript:;"><i class="icon-settings"></i></a>
               </h4>
               <hr>
            </div>

            <div class="row row-table">
               <div class="col-xs-3 text-center pull-left p0">
                  <img src="https://s3.amazonaws.com/upload.uxpin/files/386835/390532/a-house-20-800x481.jpg" alt="Image" class="img-rounded thumb80 pull-left" />
               </div>
               <div class="col-xs-9 pull-left">
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <span class="text-muted">Property type:</span> Loft</li>
                     <li class="mb-sm">
                        <span class="text-muted">Location:</span> Las Vegas</li>
                     <li class="mb-sm">
                        <span class="text-muted">Home equity:</span> $229,459</li>
                  </ul>
               </div>
            </div>
         </div>

      </div>
      <!-- END widget-->
   </div>




   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="panel-body">
            <div class="row row-table row-table-header">
               <h4 class="header">
                  Summary <i class="icon-graph pull-right"></i>
               </h4>
               <hr>
            </div>
            <div class="row row-table">
               <div class="col-xs-6 pull-left pl0">
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <span class="text-muted">Total Rooms:</span> 16</li>
                     <li class="mb-sm">
                        <span class="text-muted">Maintenance:</span> 4</li>
                     <li class="mb-sm">
                        <span class="text-muted">Manuals:</span> 6</li>
                  </ul>
               </div>
               <div class="col-xs-6 pull-left">
                  <ul class="list-unstyled">
                     <li class="mb-sm">
                        <span class="text-muted">Warranties:</span> 2</li>
                     <li class="mb-sm">
                        <span class="text-muted">Total Inventory:</span> 135</li>
                  </ul>
               </div>
            </div>
         </div>

      </div>
      <!-- END widget-->
   </div>




   <div class="col-md-4">
      <!-- START widget-->
      <div class="panel widget bg-white">
         <div class="panel-body">
            <div class="row row-table row-table-header">
               <h4 class="header">
                  Inventory Value <i class="icon-home pull-right"></i>
               </h4>
               <hr>
            </div>


            <div class="row row-table">
               <div class="col-xs-12 pv-lg">
                  <div class="h2 mt text-center"><a ng-href="#/app/inventory" class="text-success">$27,485</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>


</div>
<!-- END row -->

